/* Estilos gerais */
.game h1 {
  font-size: 2.5em;
}

.points span {
  font-weight: bold;
  color: #ecfa00;
}

.guess span{
  color: #ecfa00;
}

.tip span {
  color: #ecfa00;
}

.wordContainer {
  margin: 1.5em;
  padding: 1.5em;
  border-radius: 10px;  
  border: 05px solid #ecfa00;
  display: flex;
  flex-wrap: wrap; /* Permite quebra de linha quando necessário */
  justify-content: center; /* Centraliza o conteúdo */
}

.letter,
.blankSquare {
  font-size: 70px;
  line-height: 1.5;
  border: 3px solid #000;
  height: 100px;
  width: 100px;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px; /* Espaço entre letras */
}

.lettersAndOut {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap; /* Permite quebra de linha quando necessário */
}

.textLetter p {
  margin-bottom: 1.2em;
  text-align: center; /* Centraliza o texto */
}

.letterContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letterContainer input {
  height: 50px;
  width: 50px;
  font-size: 2em;
  text-align: center;
  margin-right: 1em;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .game h1 {
      font-size: 2em;
  }

  .letter,
  .blankSquare {
      font-size: 50px;
      height: 70px;
      width: 70px;
  }

  .letterContainer input {
      height: 40px;
      width: 40px;
      font-size: 1.5em;
  }

  .points span,
  .tip span,
  .textLetter p {
      font-size: 1em;
  }

  .wordContainer {
      padding: 1em;
      margin: 1em;
  }

  .letter,
  .blankSquare {
      margin: 3px;
  }
}

@media (max-width: 480px) {
  .game h1 {
      font-size: 1.5em;
  }

  .letter,
  .blankSquare {
      font-size: 40px;
      height: 50px;
      width: 50px;
  }

  .letterContainer input {
      height: 30px;
      width: 30px;
      font-size: 1.2em;
  }

  .points span,
  .tip span,
  .textLetter p {
      font-size: 0.8em;
  }

  .wordContainer {
      padding: 0.5em;
      margin: 0.5em;
  }

  .letter,
  .blankSquare {
      margin: 2px;
  }
}
